div.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#box {
    height: 70px;
    width: 70px;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: scalex(1.0);
    right: 1vw;
    bottom: 1vw;
}